<h1>Movies Found</h1>
<h2>Results for '{{search}}'</h2>
{{#if movie.length}}
<ol>
    {{#each movie}}
    <li>
        <a href="/movie/{{imdbID}}">{{Title}} <br>
        <img class="searchResultImage" alt="{{Title}} Poster" src="{{Poster}}">
        </a>
    </li>
    {{/each}}
</ol>
{{/if}}
<a href="/">Search for Another Movie</a>